<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../imgs/messagesicon.png">
    <title>OpenMessages 404</title>
    <style>
    html {
        background-color: black;
    }

    </style>
</head>
<body>
    <img style="width:100%; height:100%;" src="../imgs/404.png" alt="404 File Not Found">
    </body>
</html>