<header class="w3-container w3-center w3-flat-pomegranate w3-padding-64">
    <h1 class="w3-jumbo">OpenMessages.info</h1>
    <form class="w3-container w3-center w3-flat-pomegranate w3-padding-64" action="/" method="get">
        <button class="w3-button w3-flat-clouds w3-card-4">Home</button>
    </form>
</header>
<h2 class="w3-container w3-center">
    <%= @author %>
</h2>
<section class="w3-container w3-center w3-flat-clouds fill">
    <% @array.each do |option| %>
    <ul class="w3-left"><a href="/wiki/rev/<%= option %>"><button class="w3-button w3-flat-pomegranate">
                <%= option %></button></a></ul>
    <% end %>
</section>
<footer class="w3-container w3-center footer">
    <p>&copy; 2017 Derek Viera <br>
        <a href="https://github.com/rangeroob/openmessages.info">View Source</a></p>
</footer>