<div class="text_center">
<form class="form_button" action="/" method="get">
<button>Home</button>
</form>
</div>
    <% @array.each do |option| %>
    <div class="text_center">
    <ul><a href="/message/get/<%= option %>"><%= option %></a></ul>
    </div>
    <% end %>