<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/../css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/../imgs/messagesicon.png">
    <title>OpenMessages</title>
</head>
<body>
<div class="text_center">
<form class="form_button" action="/" method="get">
<button>Home</button>
</form>
<form class="form_button" action=>
<button>Go</button>
</form>
</div>
    <% @array.each do |option| %>
    <div class="text_center">
    <ul><a href="http://localhost:9292/message/get/<%= option %>"><%= option %></a></ul>
    </div>
    <% end %>
</body>
</html>