<div class="text_center">
    <form class="form_button" action="/" method="get">
        <button>Home</button>
    </form>
    <button onclick="displayformContent()">Edit</button>
</div>
<div class="text_center">
    <div id="editForm" style="display: none;">
        <form action="/message/edit" method="POST">
            <%= csrf.form_tag %>
                <input type="hidden" name="_method" value="PUT">
                <label for="username">Username:
                    <br>
                    <input type="text" name="username" id="username" placeholder="username" required>
                </label>
                <%= @invalid_username_password %>
                    <br>
                    <label for="password">Password:
                        <br>
                        <input type="password" name="password" id="password" placeholder="password" required>
                    </label>
                    <br>
                    <label for="title">Title:
                        <br>
                        <input type="title" name="title" id="title" placeholder="title" required>
                    </label>
                    <br>
                    <textarea class="form_textarea" type="text" id="textarea" name="textarea" required><%= @html2markdown %></textarea>
                    <br>
                    <input type="submit" value="save">
        </form>
    </div>
</div>
<div id="page_content" class="content" style="display: block;">
    <%= @markdown2html %>
</div>
<script src="/../js/javascript.js">
</script>