<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Openly convey thoughts &amp; ideas @ OpenMessages.info">
    <link href="/../css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/../imgs/messagesicon.png">
    <title>OpenMessages.info</title>
</head>
<body>
<div class="text_center">
<form class="form_button" action="/" method="get">
<button>Home</button>
</form>
</div>
    <%= @markdown2html %>
</body>
</html>