<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf.meta_tag %>
    <meta name="description" content="Openmessages.info gives an outlet for users to openly convey their thoughts, feelings, &amp; ideas
on the web. It is a platform were anybody can signup and start producing meaningful content
to share with friends, family, &amp; the world.">
    <link href="/../css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/../imgs/messagesicon.png">
    <title>OpenMessages.info</title>
</head>

<body>
    <header class="text_center">
        <h1>OpenMessages.info</h1>
    </header>
<div class="text_center">
<form class="form_button" action="/" method="GET">
<button>Home</button>
</form>
</div>
    <div class="content">
    <div class="text_center">
        <form action="/message/signup" method="POST">
            <%= csrf.form_tag %>
                <input type="hidden" name="_method" value="POST">
                <br>
            <label for="username">Username:<br>
                    <input type="text" name="username" id="username" placeholder="username" required>
                </label>
                <%= @used_username %>
                <br>
                       <label for="password">Password:<br>
                    <input type="password" pattern =".{8,}" name="password" id="password" placeholder="password" title="8 characters minimun" required>
                </label>
                <%= @blacklist_password  %>
                <br>
            
                <input type="submit" value="Signup">
        </form>
    </div>
    </div>
    <footer class="footer">
    <p class="text_center">&copy; 2017 Derek Viera <br> 
    <a href="https://github.com/rangeroob/openmessages.info">View Source</a></p>
    </footer>
</body>

</html>