<header class="w3-container w3-center w3-flat-pomegranate w3-mobile w3-padding-64">
    <h1 class="w3-jumbo">OpenMessages.info</h1>
<form class="w3-container w3-center w3-flat-pomegranate w3-padding-64" action="/" method="GET">
    <button class="w3-button w3-flat-clouds w3-card-4">Home</button>
</form>
</header>


<section class="w3-container w3-flat-clouds w3-padding-64 fill">
    <form class="w3-container w3-center w3-flat-clouds w3-padding-64" action="/signup" method="POST">
        <%= csrf.form_tag %>
        <input type="hidden" name="_method" value="POST">
        <label for="username">Username:<br>
            <input class="w3-input" type="text" name="username" id="username" placeholder="username" required>
        </label>
        <%= @used_username %>
        <br>
        <label for="password">Password:<br>
            <input class="w3-input" type="password" pattern=".{8,}" name="password" id="password" placeholder="password"
                title="8 characters minimun" onkeyup="confirmPassword();" required>
        </label>
        <%= @blacklist_password  %>
        <br>
        <label for="confirm_password">Confirm Password:
            <input class="w3-input" type="password" name="confirm_password" id="confirm_password" placeholder="confirm password"
                onkeyup="confirmPassword();" required />
            <span id='message'></span>
        </label>
        <br>

        <input class="w3-button w3-center w3-flat-pomegranate" id="submit" type="submit" value="Signup">
    </form>
</section>
<script src="/../js/confirmPassword.js">
</script>
<footer class="w3-container w3-center footer">
    <p class="text_center">&copy; 2017 Derek Viera <br>
        <a href="https://github.com/rangeroob/openmessages.info">View Source</a></p>
</footer>