<section class="w3-container w3-flat-clouds w3-padding-64">
    <form class="w3-container w3-center w3-flat-clouds w3-padding-64" action="/wiki/put" method="POST">
        <%= csrf.form_tag %>
        <input type="hidden" name="_method" value="PUT">
        <label for="username">Username:<br>
            <input class="w3-input" type="text" name="username" id="username" placeholder="username" value="<%= @show_user_id %>"
                required>
        </label>
        <%= @invalid_username_password %>
        <br>
        <label for="password">Password:<br>
            <input class="w3-input" type="password" name="password" id="password" placeholder="password" required>
        </label>
        <br>
        <label for="title">Title:<br>
            <input class="w3-input" type="title" name="title" id="title" placeholder="title" required>
        </label>
        <br>
        <textarea class="w3-input" type="text" id="textarea" name="textarea" placeholder="Write your message here (Markdown supported)"
            required style="height:20em;"></textarea>
        <br>
        <input class="w3-button w3-center w3-flat-pomegranate" type="submit" value="Submit">
    </form>
</section>
<footer class="w3-container w3-center footer">
    <p>&copy; 2017 Derek Viera <br>
        <a href="https://github.com/rangeroob/openmessages.info">View Source</a></p>
</footer>