<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf.meta_tag %>
    <meta name="description" content="Openmessages.info gives an outlet for users to openly convey their thoughts, feelings, &amp; ideas
on the web. It is a platform were anybody can signup and start producing meaningful content
to share with friends, family, &amp; the world.">
    <link rel="stylesheet" href="/../css/style.css">
    <link rel="icon" type="image/png" href="/../imgs/messagesicon.png">
    <title>OpenMessages.info</title>
</head>

<body>
        <header class="w3-container w3-center w3-flat-pomegranate w3-padding-64">
                <h1 class="w3-jumbo">OpenMessages.info</h1>
                <div class="w3-dropdown-hover w3-padding-64">
                    <button class="w3-button w3-flat-clouds w3-card-4"><i class="w3-xxlarge material-icons">menu</i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/" class="w3-bar-item w3-button">Home</a>
                        <a href="/signup" class="w3-bar-item w3-button">Signup</a>
                        <a href="/login" class="w3-bar-item w3-button">Login</a>
                        <a href="/logout" class="w3-bar-item w3-button">Logout</a>
                        <a href="/wiki/user/<%= @show_user_id %>" class="w3-bar-item w3-button">
                            <%= @show_user_id %></a>
                    </div>
                </div>
            </header>
    <%= content %>
</body>

</html>