<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf.meta_tag %>
    <meta name="description" content="Openmessages.info gives an outlet for users to openly convey their thoughts, feelings, &amp; ideas
on the web. It is a platform were anybody can signup and start producing meaningful content
to share with friends, family, &amp; the world.">
    <link rel="stylesheet" href="/../css/style.css">
    <link rel="icon" type="image/png" href="/../imgs/messagesicon.png">
    <title>OpenMessages.info</title>
</head>

<body>
    <%= content %>
</body>

</html>